<div class="footer container-fluid">
	<div class="service_intro row">
		<div class="col-sm-2" id="service_headline"></div>
		<div class="col-sm-6" id="service_list"></div>
		<div class="col-sm-2" id="wechat_link">
			<a href="#"><img src="/statics/images/wechat_code.jpg"></a>
		</div>
	</div>
	<div class="row copyright">
		<p>传感器之窗 Copyright 2017 © 传感器之窗 All Rights Reserved</p>
		<p class="copyright_p">
			<i class="icon_police"></i>
			<span>沪公网安备 31010802001650号</span>
			<span>|</span>
			<span>沪ICP备15013370号</span>
		</p>
		<p>
			<a href="#"><img src="/statics/images/enterprise.jpg"></a>
			<a href="#"><img src="/statics/images/vitusInfo.jpg"></a>
			<a href="#"><img src="/statics/images/cert.png"></a>
		</p>
	</div>
</div>