#brand_list_div,#sensor_new_media,#hot_product_div, #prompt_product_div,#sensor_product_div{
    border:1px solid #ddd;
}
#brand_list_div{
    height: 180px;
    overflow: hidden;
}
#brand_list_div ul{
    padding-left: 15px;
    padding-top: 16px;
}
#brand_list_div ul li{
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-bottom: 16px;
}
#brand_list_div ul li img{
    width: 130px;
    height: 65px;
}

#nav_content:focus{
    display: block;
}
#more_brand_link{
    display: block;
    /* float: right; */
    position: absolute;
    right: 0px;
    top: 35px;
}
#sensor_new_media{
    height: 480px;
}
#sensor_new_media>div{
    margin-top: 56px;
    width: 30%;
}
#sensor_new_media>div:last-child{
    width: 40%;
}
#sensor_new_media .title{
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    color: #616161;
}
.evalution:nth-child(2),.evalution:nth-child(3){
    margin-top: 20px;
}
#sensor_new_media .evalution:first-child img{
    width: 100%;
    height: 190px;
}
#sensor_new_media .evalution:nth-child(2),#sensor_new_media .evalution:nth-child(3){
    display: block;
    width: 50%;
    float: left;
    height: 100px;
}
#sensor_new_media .evalution:nth-child(2) *,#sensor_new_media .evalution:nth-child(3) *{
    display: block;
    width: 100%;
    height: 100px;
}
#sensor_new_media .circle:nth-child(1) a,#sensor_new_media .circle:nth-child(2) a{
    font-size: 18px;
    font-weight: 600;
    color: #4c4c4c;
}
#sensor_new_media .circle a{
    line-height: 30px;
}
#sensor_new_media .knowledge .image{
    width: 40%;
}

.knowledge{
    width: 100%;
    overflow: hidden;
}
#sensor_new_media .knowledge:nth-child(2){
    padding-top: 15px;
    padding-bottom: 10px;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    margin: 15px 0px;
}
.knowledge a{
    display: inline-block;
    float: left;
    width: 170px;
    height: 110px;
}
.knowledge img{
    width: 170px;
    height: 110px;
}
#sensor_new_media .knowledge .title{
    padding-top: 35px;
    padding-left: 10px ;
    width: 58%;
}
.footer{
    height: 207px;
    margin-top: 36px;
}
.footer .service_intro{
    height: 127px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 23px 0px;
    padding-left: 50px;
}
#prompt_product_div{
    height: 380px;
}
#hot_product_div{
    height: 330px;
}
#hot_product_div .hot, #prompt_product_div .prompt{
    display: inline-block;
}
#hot_product_div .hot{
    width: 16%;
    margin-right: 7px;
}
#prompt_product_div .prompt{
    width: 19%;
    margin-right: 10px;
}
.thumbnail{
    position: relative;
    border:none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 20px;
}
.prompt_product_div  .thumbnail img{
    width: 166px;
}
.thumbnail a img{
     width: 146px;
     height: 146px;
     vertical-align: middle;
 }

.thumbnail .caption{
    margin-top: 20px;
    position: absolute;
    top: 150px;
}
.thumbnail .caption p{
    text-align: center;
}
.thumbnail .caption p a{
    color: #333;
    display: inline-block;
    width: 150px;
}
.thumbnail .caption p a:hover,.thumbnail .caption p a:focus {
    color:#c81623;
}

.thumbnail .caption p .product_code{
    font-size: 16px;
    line-height: 24px;
}
.thumbnail .caption p .product_name, .thumbnail .caption p .product_category{
    font-size: 12px;
    line-height: 20px;
    color: #616161;
}
#sensor_product_div{
    border-right:0px;
    border-top: 2px solid #c81623;
}
#sensor_product_div{
    height: 365px;
}
#sensor_product_div a{
    display: block;
    text-align: center;
}
#sensor_product_div .code{
    font-size: 14px;
    line-height: 20px;
    color: #616161;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#sensor_product_div .category{
    font-size: 13px;
    line-height: 20px;
    color: #f07c7c;
    text-align: center;
}
#sensor_product_div .product_detail_lg img{
    width: 150px;
    max-height: 190px;
}
#sensor_product_div>div {
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
}
#sensor_product_div>div>div{
    position: relative;
    border: solid #f0f0f0;
    border-width: 0px 1px 1px 0px ;
}
#sensor_product_div .product_detail_lg{
    height:100%;
    border-width: 0px 1px 0px 0px;
}
#sensor_product_div .product_detail_lg a.image{
    position: absolute;
    bottom: 20%;
    left: 20%;
}
#sensor_product_div .product_detail_lg a.code{
    position: absolute;
    top: 20%;
    left: 20%;
}
#sensor_product_div .product_detail_lg a.category{
    position: absolute;
    top: 25%;
    left: 30%;
}
.brand {
    padding: 4px 0 3px;
}
.product_detail_1,.product_detail_2{
    height: 50%;
    padding-top: 10px;
}
.product_detail_1 a.image,.product_detail_2 a.image{
    position: absolute;
    bottom: 0px;
    left: 20%;
}
.product_detail_1 img,.product_detail_2 img{
    width: 113px;
    max-height: 113px;
}
#service_list{
    border-left: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
    margin: 0px 18px;
}
.footer>div>div{
    height: 81px;
}
.footer ul{
    float: right;
    margin: 4px 0px;
}
.service_intro ul li{
    height: 26px;
    line-height: 26px;
}
#service_headline ul li span{
    opacity: 0.4;
    margin-right: 5px;
}
#service_headline ul li a{
    color: #000;
}
#service_list ul li{
    display: inline-block;
    float: left;
    width: 20%;
}
#service_list ul li a{
    display: block;
    line-height: 26px;
    text-align: center;
    color: #9A9A9A;
}
#wechat_link a img{
    width: 150px;
    height: 80px;
}
.footer .copyright{
    margin-top: 30px;
}
.footer .copyright .copyright_p{
    font-size: 12px;
    color: #999;
}
.footer .copyright p{
    font-size: 14px;
    color: #595959;
    text-align: center;
    padding-bottom: 12px;
}
.copyright .icon_police{
    display: inline-block;
    width: 20px;
    height: 20px;
    background:url("../images/icon-police.png") no-repeat;
}